@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.bg-dark {
    background-color: #333 !important;
    border-top: 10px #e65100 solid !important;
}

.bg-secondary {
    background-color: #fff !important;
}

li.nav-item a{

    font-family: 'Raleway', sans-serif;
    color:white !important;
}

li.nav-item a:hover{

    font-family: 'Raleway', sans-serif;
    /*color:#e65100 !important;*/
    border-bottom: 3px #e65100 solid !important;
}
li.nav-item a:active{

    font-family: 'Raleway', sans-serif;
    color:#e65100 !important;

}

.card-title a
{
    color:#e65100 !important;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Do Hyeon', sans-serif !important;

}
body {
    background: url(https://drupalgym.cmsdeveloper.net/sites/default/files/gym-bg.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main div.container {
    background-color: #fff;
    border-left: 3px #e65100 solid !important;
    padding-top:5px ;
    padding-bottom:45px ;
}
.card-title{
text-align: center;
}
.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif !important;
    color:#444 !important;
}


.page-title,.single-page-title {
    color: #e65100 !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-size:26px !important;
    text-transform: uppercase !important;
    font-family: 'Do Hyeon', sans-serif !important;
}

.single-page-img-fluid {
    max-width: 80%;
    height: auto;
}

.single-page-class-day {
    color: #444 !important;
    font-weight: bold !important;
    font-size:22px !important;
    font-family: 'Do Hyeon', sans-serif !important;
    text-transform: uppercase !important;
    margin-bottom: 5px !important;
}

.welcometext{
color:#fff;
font-family: 'Open Sans Condensed', sans-serif;
}


.block-views-blockinstructors-block-1 h2,.block-views-blockgym-classes-block-block-1 h2,#block-views-block-gym-areas-block-1 h2{
    color: #e65100 !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-size:24px !important;
    text-transform: uppercase !important;
    font-family: 'Do Hyeon', sans-serif !important;
    text-align: center;

}
.instructor-title, .gym-area-title{
display:none;
text-align: center;
color: #fff !important;
font-weight: bold !important;
font-size:20px !important;
text-transform: uppercase !important;
font-family: 'Do Hyeon', sans-serif !important;
border-bottom:3px  #e65100 solid;
position: absolute;
left: 30px;
top: 10px;
z-index: 100;
}

.instructor-body{
   color: #fff !important;
    font-weight: bold !important;
    font-size:11px !important;
    text-transform: uppercase !important;
    font-family: 'Do Hyeon', sans-serif !important;
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 101;
    }

