{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    (b4_body_schema == 'light' ? ' text-dark' : (b4_body_schema == 'dark' ? ' text-light' :  ' ')),
    (b4_body_bg_schema != 'none' ? " bg-#{b4_body_bg_schema}" : ' '),
    'd-flex flex-column h-100'
  ]
%}

<!DOCTYPE html>
<html{{ html_attributes.addClass('h-100') }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

  </head>
  <body{{ attributes.addClass(body_classes) }} style="background-image: linear-gradient( rgba(0,0,0, 0.75), rgba(0,0,0, 0.75) ), url(http://cmsdeveloper.net/drupal/gym/sites/default/files/hero.jpg );">
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
<script>
$(document).ready(function(){

    $('.view-gym-areas div.views-field img').removeAttr('width');
    $('.view-gym-areas div.views-field img').removeAttr('height');
    $('.view-gym-areas div.views-field img').addClass('img-fluid');
    $('div.view-gym-areas .view-content').addClass('row');
    $('div.view-gym-areas .views-row').addClass('col col-xs-12 col-sm-6 col-lg-3');

    $(".gym-area-zone").mouseover(function(){
        $(this).children('.gym-area-title').show() ;
        });
    $(".gym-area-zone").mouseout(function(){
        $(this).children('.gym-area-title').hide() ;
    });

    $('div.view-gym-classes-block .view-content').addClass('row');
    $('div.view-gym-classes-block .views-row').addClass('col col-sm-12 col-lg-3');

     $('div.card-img-top > img').removeAttr('width');
    $('div.card-img-top > img').removeAttr('height');
    $('div.card-img-top > img').addClass('img-fluid');

    $('div.view-instructors .view-content').addClass('row');
    $('div.view-instructors .views-row').addClass('col col-xs-12 col-sm-12 col-md-6 col-lg-6');

    $('.instructor-zone > img').removeAttr('width');
    $('.instructor-zone > img').removeAttr('height');
    $('.instructor-zone > img').addClass('img-fluid');
    $('.instructor-title').show() ;



});
</script
  </body>
</html>
