{#
/**
 * @file
 * Theme override to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 */
 { "I like this and --that--."|replace({'this': foo, '--that--': "bar"}) }
 {{ twig_content_variable|replace({ (replace_value_var): replace_with_value_var }) }}
#}
<a href="{{ image['#uri'] |replace({ ("public://"):"/sites/default/files/"})}}" data-lightbox="gallery">
{% if url %}
  {{ link(image, url) }}
{% else %}
  {{ image }}
{% endif %}
</a>
